@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 126, 195);
    color: rgb(234, 231, 231);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: rgb(140, 195, 213);
}
.button{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(138, 200, 220);
    padding: 15px;
    font-family: inherit;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
}

.button:focus{
    outline: 0;
}

.button:active{
    transform: scale(0.99);
}

.text{
    margin-top: 35px;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
}

.form-control input:focus, .form-control input:valid{
    outline: 0;
    border-bottom-color: rgb(145, 199, 217);
}

.form-control label{
    position: absolute;
    top: 16px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 20px;
    min-width: 6px;
    transition: 0.2s cubic-bezier(0.7, -5, 0.3, 2);
}

.form-control input:focus + label span, .form-control input input:valid+label span{
    color: rgb(143, 200, 219);
    transform: translateY(-30px);
}